static/videos/compilation.mp4 filter=lfs diff=lfs merge=lfs -text
static/videos/leLongDesQuais.mp4 filter=lfs diff=lfs merge=lfs -text
static/videos/longWay.mp4 filter=lfs diff=lfs merge=lfs -text
static/videos/mp3.mp4 filter=lfs diff=lfs merge=lfs -text
static/videos/projectionCritique.mp4 filter=lfs diff=lfs merge=lfs -text
