media\uploads
media\images
media/uploads/*
media/images/*
media/uploads
media/images
media/models
myenv
myenv/*
db.sqlite3
taglife/__pycache__
taglife/__pycache__/*
apps/images/__pycache__
apps/images/__pycache__/*
apps/images/migrations
apps/images/migrations/*
apps/main/__pycache__
apps/main/__pycache__/*
apps/main/migrations
apps/main/migrations/*
apps/main/migrations/*/*
apps/main/__init__.py
apps/__pycache__
apps/__pycache__/*
apps/__init__.py
taglife/settings.py
taglife\settings.py
static/*.css.map
static/*.css
static/videos/*
static\videos\*
static/img
node_modules
old3js.js
apps/main/static/js/libs/*
