media\uploads
media\images
media/uploads/*
media/images/*
myenv
myenv/*
db.sqlite3
taglife/__pycache__
taglife/__pycache__/*
apps/images/__pycache__
apps/images/__pycache__/*
apps/images/migrations
apps/images/migrations/*
taglife/settings.py
taglife\settings.py
static\main.css
static/main.css
static\main.css.map
static/main.css.map
static/images.css.map
static/images.css
static\images.css.map
static\images.css
apps/main/__pycache__
apps/main/__pycache__/*
