#screenPresentation {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;

    #description {
        width: 50%;
        height: 80%;
        max-width: 315px;

        display: flex;
        justify-content: center;

        margin: auto 1rem auto auto;
        background: rgba(236, 236, 236, 0.75);
        border-radius: 15px;

        #thumbnailsContainer {
            width: 100%;

            display: flex;
            flex-direction: column;
            gap: 1rem;

            margin: 1rem;
            overflow-y: auto;

            .thumbnail {
                width: 100%;
                height: 140px;
                min-height: 140px;

                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;

                    position: absolute;
                    border-radius: 10px;
                    object-fit: cover;
                }

                p {
                    width: 75%;

                    position: absolute;

                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-size: xx-large;
                    font-weight: bold;
                    color: transparent;
                    text-align: center;
                    -webkit-text-stroke: 2px white;
                }

            }

            .thumbnail.hidden {
                display: none;
            }

            .thumbnailDescription {
                display: none;

                opacity: 0;
                color: white;
                background-color: rgba(219, 130, 47, 0.5);
                border-radius: 5px;
                transition: opacity 0.3s ease-in-out;
                padding: 1rem;


                h4 {
                    font-family: 'Old English Text MT';
                    font-size: xx-large;
                    margin: 0;
                }

                p {
                    margin: 0.5rem 0;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size: 0.9rem;
                    line-height: 120%;
                }

                p::first-letter {
                    font-family: 'Old English Text MT';
                    font-size: xx-large;

                }
            }

            .thumbnailDescription.show {
                display: block;
                opacity: 1;
            }

            .thumbnailDescription.dark-mode {
                background-color: rgba(30, 20, 160, 0.5);
            }
        }
    }

}


@media (max-width: 751px) {
    #screenPresentation {
        flex-direction: column !important;

        #description {
            width: 80%;
            height: 45%;
            max-width: 100%;
            max-height: 300px;

            top: auto;
            bottom: 0;
            margin: auto auto 1rem auto;

            #thumbnailsContainer {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;

                margin: 1rem;

                .thumbnail {
                    width: 45%;
                    min-width: 150px;
                    min-height: auto;
                    height: auto;

                    p {
                        font-size: 1.3rem;
                        color: white;
                        width: 90%;
                        -webkit-text-stroke: 0px;
                    }
                }

                .thumbnailDescription.show {
                    display: block;
                    opacity: 1;
                    width: 90%;
                    ;
                }

            }
        }
    }
}

#screenPresentation.active {
    opacity: 1;
    visibility: visible;
}

#hits {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
    z-index: 1;

    #hitsContainer {
        width: 100%;
        height: 66vh;
        max-width: 750px;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        margin: 4rem;
        padding: 1rem;
        overflow-y: auto;
        border-radius: 10px;
        background-color: rgba(236, 236, 236, 0.75);

        .hits-row {
            border-radius: 10px;
            background-color: rgba(236, 236, 236, 0.75);
            display: flex;
            padding: 0.5rem 1rem;
            gap: 1rem;
            justify-content: space-between;

            .hits-left {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .audio-title {
                    width: 100%;

                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    p {
                        font-weight: 600;
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                        margin: 0;
                    }

                }

                .audio-description {
                    display: none;
                    opacity: 0;
                    margin: 0 -1.5rem -0.5rem -1.5rem;
                    padding: 0 1.5rem;
                    background-size: cover;
                    background-position: center;

                    p,
                    a {
                        margin: 0;
                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                        font-size: 0.9rem;
                        line-height: 120%;
                        text-decoration: none;
                        color: black;
                    }
                }

                a {
                    width: fit-content;
                    height: 1.5rem;

                    display: none;
                    opacity: 0;
                    cursor: pointer;
                    text-decoration: none;
                    margin: auto 0 0 0;
                }

            }

            .hits-right {
                display: none;
                opacity: 0;

                img {
                    max-width: 100%;
                    max-height: 10rem;

                    display: none;
                    margin: 0.5rem 0;
                    border-radius: 5px;
                }

            }
        }

        .hits-row.active {
            .hits-left {

                .audio-description,
                a {
                    display: block;
                    opacity: 1;

                }
            }

            .hits-right {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                opacity: 1;

                img {
                    display: block;
                }
            }
        }
    }

    @media (max-width: 500px) {
        #hitsContainer {
            margin: 2rem;
        }
    }
}

@media (max-width: 550px) {
    .hits-row {
        flex-direction: column;
        gap: 0;
    }

    a {
        margin: 1rem 0 0 0;
    }
}

#hits.active {
    opacity: 1;
    visibility: visible;
}

#hits.dark-mode {
    p {
        color: black;
    }
}

#calendar,
#books {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
    z-index: 2;

    #calendarContainer,
    #booksContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
        flex: 1 1 auto;

        padding: 1rem;
        background-color: rgba(236, 236, 236, 0.75);
        border-radius: 10px;

        #calendarImgContainer,
        #booksImgContainer {
            flex: 1;

            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-height: 70vh;
                max-width: 80vw;

                border-radius: 10px;
            }
        }

        #calendarButtons,
        #booksButtons {
            max-height: 5rem;

            display: flex;
            justify-content: space-around;

            .calendar-button,
            .books-button {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .arrow-button {
                    height: 2rem;

                    cursor: pointer;
                    font-size: xx-large;
                }
            }

            .books-button {
                .arrow-description {
                    height: 4rem;
                    width: max-content;

                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);

                    display: none;
                    font-size: large;
                    pointer-events: none;
                    
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-weight: bold;
                    margin: 0;
                    color: black;
                }

                .arrow-button:hover+.arrow-description {
                    display: block;
                }

                .arrow-button:hover+.arrow-description.hidden {
                    display: none;
                }
            }

            .books-button.hidden {
                opacity: 0;
                display: none;
            }
        }
    }
}

#calendar.active,
#books.active {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 500px) {

    #calendar,
    #books {

        #calendarContainer,
        #booksContainer {
            margin: 1.5rem;
        }
    }
}