// ------------------
//     VARIABLES
// ------------------


$dark-color: #080126;
$light-color: #e5e3ee;



body {
    background-color: $dark-color;
    color: $light-color;

    &.dark-mode {
        background-color: $dark-color;
        color: $light-color;
    }

    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

.images {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    .column {
        flex: 1;
        min-width: 3rem;
        max-width: 20rem;

        .box {
            width: 100%;
            margin-bottom: 10px;
            
            img {
                width: 100%;
                border-radius: 5px;
                display: block;
                margin-bottom: 1rem;
            }
        }

    }
}
