// ------------------
//     VARIABLES
// ------------------


$dark-color: #080126;
$light-color: #e5e3ee;


// ------------------
//  DARK MODE BUTTON
// ------------------

#topRightButtons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 2;

    .top-right-buttons {
        height: 3rem;
        width: 3rem;

        padding-bottom: 0.2rem;
        background-color: $light-color;
        color: $dark-color;
        border-color: $dark-color;
        border-radius: 20%;
        font-size: x-large;

        &.dark-mode {
            background-color: $dark-color;
            color: $light-color;
            border-color: $light-color;
        }
    }
}


// ------------------
//        BODY
// ------------------



html {
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        margin: 0 !important;
        // background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 5, 5, 0.907));
        pointer-events: none;
    }
}

body {

    background-color: $light-color;
    color: $dark-color;

    &.dark-mode {
        background-color: $dark-color;
        color: $light-color;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

// ------------------
//   bgImgContainer
// ------------------


#bgImgContainer {
    display: flex;
    justify-content: center;
    width: auto;

    img {
        margin-top: 3rem;
        width: 75vw;
        max-width: 1000px;

        &.dark-mode {
            margin-top: 2rem;
        }
    }

}

#bgImg,
#titleImg {
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
}


// ------------------
//       3JS
// ------------------

#threejsContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

// ------------------
//   titleContainer
// ------------------

#titleContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 2rem;
    position: absolute;
    bottom: 2rem;

    img {
        width: 55vw;
        height: fit-content;
    }
}

#grid {
    .parent {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(8, 12.5vh);
        overflow: hidden;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

        }
    }

    .div1 {
        grid-area: 1 / 2 / 3 / 4;
    }
    
    .div2 {
        grid-area: 3 / 2 / 5 / 3;
    }
    
    .div3 {
        grid-area: 2 / 4 / 3 / 6;
    }

    .div4 {
        grid-area: 1 / 8 / 3 / 10;
    }

    .div5 {
        grid-area: 4 / 9 / 5 / 11;

        img {

            max-height: 5rem;
            width: auto;
        }
    }

    // nuages
    .div6 {
        grid-area: 6 / 2 / 7 / 4;
    }

    .div7 {
        grid-area: 7 / 4 / 8 / 7;
    }

    .div8 {
        grid-area: 6 / 8 / 7 / 10;

        img {
            max-width: 10rem;
        }
    }

    .div9 {
        grid-area: 3 / 5 / 5 / 7;
        z-index: 0;
        margin: 0 0 1rem 3.5rem;
        max-width: 5rem;
    }

    .div10 {
        grid-area: 3 / 8 / 4 / 10;

        img {
            max-width: 6.5rem;
        }
    }

    // étoiles
    .div11 {
        grid-area: 1 / 4 / 2 / 5;
    }

    .div12 {
        grid-area: 2 / 9 / 3 / 10;
    }

    .div13 {
        grid-area: 1 / 10 / 2 / 11;
    }

    .div14 {
        grid-area: 3 / 4 / 3 / 5;
    }

    .div15 {
        grid-area: 4 / 8 / 5 / 9;
    }

    .div16 {
        grid-area: 3 / 7 / 4 / 8;
    }


    img {
        width: 100%;
        min-width: 4rem;
        max-width: 8rem;
        margin: auto;
        pointer-events: painted;
        // user-select: none;
        // -webkit-user-drag: none;
    }

    #bg_3 {
        &.dark-mode {

            min-width: 2rem;
            max-width: 4rem;
            transform: rotate(10deg);
        }
    }

    .star {
        min-width: auto;
        max-width: 0.6rem;
    }

    @keyframes float {
        0% {
            transform: translate(0px, 0px);
        }
        
        18% {
            transform: translate(2.5px, -2.5px);
        }

        35% {
            transform: translate(-2.5px, 5px);
        }

        50% {
            transform: translate(-2.5px, -2.5px);
        }

        66% {
            transform: translate(5px, 2.5px);
        }

        80% {
            transform: translate(-2.5px, -2.5px);
        }

        100% {
            transform: translate(0px, 0px);
        }

    }

    .cloud {
        z-index: 2;
        animation: float 10s ease-in-out infinite;
    }

    .cloud:hover {
        animation: none;
        transform: rotate(-10deg) !important;
        cursor: pointer;
    }
}