// ------------------
//     VARIABLES
// ------------------


$dark-color: #080126;
$light-color: #e5e3ee;


// ------------------
//  DARK MODE BUTTON
// ------------------

#topRightButtons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 2;

    .top-right-buttons {
        height: 3rem;
        width: 3rem;

        padding-bottom: 0.2rem;
        background-color: $light-color;
        color: $dark-color;
        border-color: $dark-color;
        border-radius: 20%;
        font-size: x-large;

        &.dark-mode {
            background-color: $dark-color;
            color: $light-color;
            border-color: $light-color;
        }
    }
}


// ------------------
//        BODY
// ------------------



html {
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        margin: 0 !important;
        // background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 5, 5, 0.907));
        pointer-events: none;
    }
}

body {

    background-color: $light-color;
    color: $dark-color;

    &.dark-mode {
        background-color: $dark-color;
        color: $light-color;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

// ------------------
//   bgImgContainer
// ------------------


#bgImgContainer {
    display: flex;
    justify-content: center;
    width: auto;

    img {
        margin-top: 3rem;
        width: 75vw;
        max-width: 1000px;
        &.dark-mode {
            margin-top: 2rem;
        }
    }

}

// ------------------
//       3JS
// ------------------

#threejsContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10rem;
}

// ------------------
//   titleContainer
// ------------------

#titleContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 2rem;
    position: absolute;
    bottom: 2rem;
    img {
        width: 55vw;
        height: fit-content;
    }
}

#bulles {
    display: flex;
    justify-content: space-around;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110vw;
    #bullePhotos, #bulleRadio {
        max-width: 10rem;
    }
        // #bullePhotos {
        //     top: 5rem;
        //     left: 5rem;

        // }
        // #bulleRadio {
        //     top: 5rem;
        //     right: 5rem;

        // }
}
