{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'images.css' %}">
</head>
<body>
    
    <button id="switch-mode">☾</button>
    <div id="part1">
        <img id="thug-life" src="{% static 'img/0004.jpg' %}">
    </div>
    <div id="part2">
        <h1 id="title">Louise Brondia</h1>
    </div>

    <div id="part3">
        <div id="tags">
            <div id="tags-grid">
                {% for tag in tags %}
                <div class="tag-box {% if tag in checked_tags %} active {% endif %}" id="{{ tag }}">
                    {{ tag }}
                </div>
                {% endfor %}
            </div>
            <form method="get" action="{% url 'import_images' %}">
                <div id="new-tag">
                    <label for="tag"></label>
                    <input type="text" id="tag" name="new_tag" value="{{ tag_filter|default:'' }}">
                    <button type="submit">Add</button>
                </div>
            </form>
        </div>
        
        <div class="images" id="images"></div>
        <div id="scrollAnchor"></div>
        <div id="loading">
            <img src="../static/img/0004.jpg" id="loadingLogo">
        </div>
    </div>

    <script>
        const imagesData = JSON.parse("{{ images_json|safe|escapejs }}");
        const checkedTags = JSON.parse("{{ checked_tags|escapejs }}");
    </script>
    <script src="{% static 'js/columns.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script type="module" src="{% static 'add_random_tag.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/darkmode.js' %}"></script>

</body>
</html>
