{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    
    <div id="topRightButtons">
        <button id="switchMode" class="top-right-buttons">☾</button>
    </div>
    <div id="bgImgContainer">
        <img id="bgImg" src="{% static 'img/bg_black.png' %}">
    </div>
    <div id="threejsContainer"></div>
    <div id="titleContainer">
        <img id="titleImg" src="{% static 'img/title_black.png' %}">
    </div>
    <div id="bulles">
        <img id="bullePhotos" src="{% static 'img/photos_black.png' %}">
        <img id="bulleRadio" src="{% static 'img/radio_black.png' %}">
    </div>

    <script>
        var imagesUrl = "{% url 'images' %}";
    </script>
    <script type="module" src="{% static 'js/darkmode.js' %}"></script>
    <script type="module" src="{% static 'js/main.js' %}"></script>
    <script type="module" src="{% static 'js/3js.js' %}"></script>

</body>
</html>
