{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Images</title>
    <link rel="stylesheet" href="{% static 'images.css' %}">
</head>
<body>


    <form method="get" action="{% url 'import_images' %}">
        {% for tag in tags %}
        <label for="tag-{{ forloop.counter }}" class="tag-tic">
            <input type="checkbox" name="checked_tags" value="{{tag}}" id="tag-{{ forloop.counter }}"
            {% if tag in checked_tags %} checked {% endif %} onchange="this.form.submit()"
            >
                {{ tag }}
        </label>
        {% endfor %}
    </form>
    <form method="get" action="{% url 'import_images' %}">
        <label for="tag">New tag : </label>
        <input type="text" id="tag" name="new_tag" value="{{ tag_filter|default:'' }}">
        <button type="submit">Add</button>
    </form>

    <h1>Images</h1>
    <div class="images" id="images"></div>

    <script>
        const imagesData = {{ images_json|safe }};
    </script>
    <script src="{% static 'js/columns.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script type="module" src="{% static 'add_random_tag.js' %}"></script>
</body>
</html>