{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Images</title>
    <link rel="stylesheet" href="{% static 'images.css' %}">
</head>
<body>


    <form method="get" action="{% url 'import_images' %}">
        {% for tag in tags %}
        <label for="tag-{{ forloop.counter }}" class="tag-tic">
            <input type="checkbox" name="checked_tags" value="{{tag}}" id="tag-{{ forloop.counter }}"
            {% if tag in checked_tags %} checked {% endif %} onchange="this.form.submit()"
            >
                {{ tag }}
        </label>
        {% endfor %}
    </form>
    <form method="get" action="{% url 'import_images' %}">
        <label for="tag">New tag : </label>
        <input type="text" id="tag" name="new_tag" value="{{ tag_filter|default:'' }}">
        <button type="submit">Add</button>
    </form>

    <h1>Images</h1>
    <div class="images">

        {% for image in images %}
        <div class="box">
            <h2 id="title-{{ forloop.counter }}" hidden="true">{{ image.title }}</h2>
            <img src="{{ image.image_field.url }}" id="img-{{ forloop.counter }}" alt="{{ image.title }}" onclick="displayImageInfos('{{ forloop.counter }}')">
            <div class="tags-container" hidden="true" id="tags-{{ forloop.counter }}">
                {% for tag in image.tags.all %}
                    <h3>{{tag.title}}</h3>
                {% endfor %}
            </div> 
        </div>
        {% endfor %}
    </div>

    <script src="{% static 'js/utils.js' %}"></script>
    <script type="module" src="{% static 'add_random_tag.js' %}"></script>
</body>
</html>