{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Projection</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'images.css' %}">
    <link rel="stylesheet" href="{% static 'projection.css' %}">
</head>

<body>

    <div id="topRightButtons">
        <button id="switchMode" class="top-right-buttons">☾</button>
        <button id="home" class="top-right-buttons">
            <img id="homeImg" src="{% static 'img/home_black.png' %}">
        </button>
    </div>

    <div id="threejsContainer"></div>

    <div id="screenPresentation">
    
         
        <div id="iframeContainer">
            <iframe id="iframe" width="560" height="315"
                frameborder="0"
                allowfullscreen
                referrerpolicy="strict-origin-when-cross-origin"
                src="https://www.youtube.com/embed/IW9KKHcvMXM?modestbranding=1&autohide=1&showinfo=0&controls=0">
            </iframe>
        </div>
        <div id="description">
            <div id="thumbnailsContainer">
                <div class="thumbnail" id="leSaut">
                    <img class="thumbnailImg" src="{% static 'img/webcam/1.jpg' %}"">
                    <p>LE SAUT</p>
                </div>
                <div class="thumbnailDescription" id="leSautDescription">
                    <p>bonjour c'est un film voilà</p>
                </div>
                <div class="thumbnail" id="mp3">
                    <img class="thumbnailImg" src="{% static 'img/webcam/1.jpg' %}"">
                    <p>MP3</p>
                </div>
                <div id="mp3Description" class="thumbnailDescription" id="leSautDescription">
                    <p>bonjour c'est un film voilà</p>
                </div>
                <div class="thumbnail">
                    <img class="thumbnailImg" src="{% static 'img/webcam/1.jpg' %}"">
                    <p>PROJECTION CRITIQUE</p>
                </div>
                <div class="thumbnail">
                    <img class="thumbnailImg" src="{% static 'img/webcam/1.jpg' %}"">
                    <p>BONJOUR MATIN</p>
                </div>
            </div>
        </div>

    </div>

    <script type="importmap">
        {
            "imports": {
                "three": "/static/node_modules/three/build/three.module.js",
                "three/addons/": "/static/node_modules/three/examples/jsm/"
            }
        }
    </script>
    <script> let homeUrl = "{% url 'home' %}"; </script>
    <script type="module" src="{% static 'js/darkmode.js' %}"></script>
    <script type="module" src="{% static 'js/main.js' %}"></script>
    <script type="module" src="{% static 'js/projection.js' %}"></script>

</body>

</html>