{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Projection</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'images.css' %}">
    <link rel="stylesheet" href="{% static 'projection.css' %}">
</head>

<body>

    <div id="topRightButtons">
        <button id="switchMode" class="top-right-buttons">☾</button>
        <button id="home" class="top-right-buttons">
            <img id="homeImg" src="{% static 'img/home_black.png' %}">
        </button>
    </div>

    <div id="threejsContainer"></div>

    <div id="screenPresentation">

        <video id="video" controls>
            <source src="{% static 'videos/mp3.mp4' %}" type="video/mp4">
            Votre navigateur ne supporte pas la lecture vidéo.
        </video>

        <div id="description">
            <div id="thumbnailsContainer">
                <div class="thumbnail" id="leLongDesQuais">
                    <img class="thumbnailImg" src="{% static 'img/leLongDesQuais.png' %}"">
                </div>
                <div class=" thumbnailDescription" id="leLongDesQuaisDescription">
                    <p>Un garçon se traîne le long des quais.</p>
                </div>
                <div class="thumbnail" id="mp3">
                    <img class="thumbnailImg" src="{% static 'img/mp3.png' %}"">
                </div>
                <div class=" thumbnailDescription" id="mp3Description">
                    <p>Un corps traverse le temps, les ruines, l’oubli.
                        Un lecteur minuscule capte l’instant avant la fracture.
                        Des années plus tard, les cendres sont froides, mais la musique revient.
                        Et soudain, dans un souffle, le passé recommence à vibrer.</p>
                </div>
                <div class="thumbnail" id="longWay">
                    <img class="thumbnailImg" src="{% static 'img/longWay.png' %}"">
                </div>
                <div class=" thumbnailDescription" id="longWayDescription">
                    <p>Un film réalisé avec Luz Desliens et Zélie Péguillan.
                        Histoire tirée de faits réel.
                        Toute ressemblance avec des personnages existants serait purement fortuite</p>
                </div>
                <div class="thumbnail" id="projectionCritique">
                    <img class="thumbnailImg" src="{% static 'img/projectionCritique.png' %}"">
                </div>
                <div class=" thumbnailDescription" id="projectionCritiqueDescription">
                    <p>Tristan Chimère, historien, retrace la pratique de Louise Rondia en 2020.</p>
                </div>
                <div class="thumbnail" id="compilation">
                    <img class="thumbnailImg" src="{% static 'img/compilation.png' %}"">
                </div>
                <div class=" thumbnailDescription" id="compilationDescription">
                    <p>
                        Un voyage au le fil du temps,
                        où l'on frôle la chute à neuf virgule huit lentement,
                        dans et sur un air qui doucement nous surprend,
                        celui d’avant mes vingt ans;
                    </p>
                    <p>
                        Les secousses viennent sans crier gare,
                        comme les destins qu’un rien égare,
                        mon amie vacille sans espoir,
                        emportée dans ce hasard;
                    </p>
                    <p>
                        Partir et guetter les horizons,
                        chercher un endroit à appeler maison,
                        tous ces mots qui font peur quand ils ne font pas rire,
                        qui sont dans trop de films, de chansons et de livres;
                    </p>
                    <p>
                        Une course qui s’achève au bord du vide,
                        où l'on saute une dernière fois lucide,
                        le vent nous mord les joues,
                        nos larmes portées par la brise;
                    </p>
                    <p>
                        Et l’on revient à elle finalement,
                        celle qui nous tient depuis le commencement,
                        sans qui rien n’aurait de fondement,
                        la gravité évidemment !!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="hits">
        <div id="hitsContainer">
            <div class="hits-row">
                <p>Come & Get It [Selena Gomez cover] - valenmix</p>
            </div>
            <div class="hits-row">
                <p>Summertime Sadness [Lana Del Ray cover] - valenmix</p>
            </div>
            <div class="hits-row">
                <p>Rock Bottom [Eminem cover] - valenmix</p>
            </div>
            <div class="hits-row">
                <p>Caroline [MC Solaar cover] - valenmix</p>
            </div>
            <div class="hits-row">
                <p>why can't i trust my mind - radio vacarme</p>
            </div>
            <div class="hits-row">
                <p>décembre - radio vacarme</p>
            </div>
            <div class="hits-row">
                <p>i'm not the boy i used to be - radio vacarme</p>
            </div>
            <div class="hits-row">
                <p>Le Long des Quais - les Pesticides</p>
            </div>
        </div>

    </div>

    <script type="importmap">
        {
            "imports": {
                "three": "/static/node_modules/three/build/three.module.js",
                "three/addons/": "/static/node_modules/three/examples/jsm/"
            }
        }
    </script>
    <script> let homeUrl = "{% url 'home' %}"; </script>
    <script type="module" src="{% static 'js/darkmode.js' %}"></script>
    <script type="module" src="{% static 'js/main.js' %}"></script>
    <script type="module" src="{% static 'js/projection.js' %}"></script>

</body>

</html>