{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Projection</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/images.css' %}">
    <link rel="stylesheet" href="{% static 'css/projection.css' %}">
</head>

<body>

    <div id="topRightButtons">
        <button id="switchMode" class="top-right-buttons">☾</button>
        <button id="home" class="top-right-buttons">
            <img id="homeImg" src="{% static 'img/home_black.png' %}">
        </button>
    </div>

    <div id="threejsContainer"></div>

    <div id="screenPresentation">

        <video id="video" controls>
            <source src="{% static 'videos/mp3.mp4' %}" type="video/mp4">
            Votre navigateur ne supporte pas la lecture vidéo.
        </video>

        <div id="description">
            <div id="thumbnailsContainer">
                <div class="thumbnail" id="leLongDesQuais">
                    <img class="thumbnailImg" src="{% static 'img/leLongDesQuais.png' %}"">
                </div>
                <div class=" thumbnailDescription" id="leLongDesQuaisDescription">
                    <p>Un garçon se traîne le long des quais.</p>
                </div>
                <div class="thumbnail" id="mp3">
                    <img class="thumbnailImg" src="{% static 'img/mp3.png' %}"">
                </div>
                <div class=" thumbnailDescription" id="mp3Description">
                    <p>Un corps traverse le temps, les ruines, l’oubli.
                        Un lecteur minuscule capte l’instant avant la fracture.
                        Des années plus tard, les cendres sont froides, mais la musique revient.
                        Et soudain, dans un souffle, le passé recommence à vibrer.</p>
                </div>
                <div class="thumbnail" id="longWay">
                    <img class="thumbnailImg" src="{% static 'img/longWay.png' %}"">
                </div>
                <div class=" thumbnailDescription" id="longWayDescription">
                    <p>Un film réalisé avec Luz Desliens et Zélie Péguillan.
                        Histoire tirée de faits réel.
                        Toute ressemblance avec des personnages existants serait purement fortuite</p>
                </div>
                <div class="thumbnail" id="projectionCritique">
                    <img class="thumbnailImg" src="{% static 'img/projectionCritique.png' %}"">
                </div>
                <div class=" thumbnailDescription" id="projectionCritiqueDescription">
                    <p>Tristan Chimère, historien, retrace la pratique de Louise Rondia en 2020.</p>
                </div>
                <div class="thumbnail" id="compilation">
                    <img class="thumbnailImg" src="{% static 'img/compilation.png' %}"">
                </div>
                <div class=" thumbnailDescription" id="compilationDescription">
                    <p>
                        Un voyage au le fil du temps,
                        où l'on frôle la chute à neuf virgule huit lentement,
                        dans et sur un air qui doucement nous surprend,
                        celui d’avant mes vingt ans;
                    </p>
                    <p>
                        Les secousses viennent sans crier gare,
                        comme les destins qu’un rien égare,
                        mon amie vacille sans espoir,
                        emportée dans ce hasard;
                    </p>
                    <p>
                        Partir et guetter les horizons,
                        chercher un endroit à appeler maison,
                        tous ces mots qui font peur quand ils ne font pas rire,
                        qui sont dans trop de films, de chansons et de livres;
                    </p>
                    <p>
                        Une course qui s’achève au bord du vide,
                        où l'on saute une dernière fois lucide,
                        le vent nous mord les joues,
                        nos larmes portées par la brise;
                    </p>
                    <p>
                        Et l’on revient à elle finalement,
                        celle qui nous tient depuis le commencement,
                        sans qui rien n’aurait de fondement,
                        la gravité évidemment !!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="hits">
        <div id="hitsContainer">
            <div class="hits-row">
                <div class="hits-left">
                    <div class="audio-title">
                        <p>⏯</p>
                        <p>why can't i trust my mind - radio vacarme</p>
                    </div>
                    <div class="audio-description" id="whyCantAudioDescription">
                        <p>Émission de musique pour Radio Vacarme.</p>
                        <p>Pour écouter tout l'épisode cliquez sur le lien ci-dessous.</p>
                        <p>Également disponible sur le site de 
                            <a href="https://radiovacarme.com/shrutefarms/" target="_blank"> Radio Vacarme</a>
                        </p>
                    </div>
                    <!-- <a href="https://www.mixcloud.com/Radio_Vacarme/schrute-farms-louise-why-cant-i-trust-my-mind/"
                        target="_blank">
                        🔗
                    </a> -->
                </div>
                <div class="hits-right">
                    <img src="{% static 'img/whyCant.png' %}">
                </div>
            </div>
            <div class="hits-row">
                <div class="hits-left">
                    <div class="audio-title">
                        <p>⏯</p>
                        <p>décembre - radio vacarme</p>
                    </div>
                    <div class="audio-description" id="decembreAudioDescription">
                        <p>bonjour petite description</p>
                    </div>
                    <!-- <a href="https://www.mixcloud.com/Radio_Vacarme/schrute-farms-louise-d%C3%A9cembre/"
                        target="_blank">
                        🔗
                    </a> -->
                </div>
                <div class="hits-right">
                    <img src="{% static 'img/decembre.png' %}">
                </div>
            </div>
            <div class="hits-row">
                <div class="hits-left">
                    <div class="audio-title">
                        <p>⏯</p>
                        <p>i'm not the boy i used to be - radio vacarme</p>
                    </div>
                    <div class="audio-description" id="imNotAudioDescription">
                        <p>bonjour petite description</p>
                    </div>
                    <!-- <a href="https://www.mixcloud.com/Radio_Vacarme/schrute-farms-louise-im-not-the-boy-i-used-to-be/"
                        target="_blank">
                        🔗
                    </a> -->
                </div>
                <div class="hits-right">
                    <img src="{% static 'img/imNot.png' %}">
                </div>
            </div>
            <div class="hits-row">
                <div class="hits-left">
                    <div class="audio-title">
                        <p>⏯</p>
                        <p>like to see you again - radio vacarme</p>
                    </div>
                    <div class="audio-description" id="likeToAudioDescription">
                        <p>bonjour petite description</p>
                    </div>
                    <!-- <a href="https://www.mixcloud.com/Radio_Vacarme/schrute-farms-louise-like-to-see-you-again/"
                        target="_blank">
                        🔗
                    </a> -->
                </div>
                <div class="hits-right">
                    <img src="{% static 'img/likeTo.png' %}">
                </div>
            </div>
            <div class="hits-row">
                <div class="hits-left">
                    <div class="audio-title">
                        <p>⏯</p>
                        <p>le long des quais - les pesticides</p>
                    </div>
                    <div class="audio-description" id="leLongAudioDescription">
                        <p>bonjour petite description</p>
                    </div>
                    <!-- <a href="https://youtu.be/iP6fK1J_TQ8" target="_blank">
                        🔗
                    </a> -->
                </div>
                <div class="hits-right">
                    <img src="{% static 'img/leLong.png' %}">
                </div>
            </div>
            <div class="hits-row">
                <div class="hits-left">
                    <div class="audio-title">
                        <p>⏯</p>
                        <p>summertime sadness - valenmix</p>
                    </div>
                    <div class="audio-description" id="summertimeAudioDescription">
                        <p>bonjour petite description</p>
                    </div>
                    <!-- <a href="https://youtu.be/yPBQAdXsXLQ" target="_blank">
                        🔗
                    </a> -->
                </div>
                <div class="hits-right">
                    <img src="{% static 'img/summertime.png' %}">
                </div>
            </div>
            <div class="hits-row">
                <div class="hits-left">
                    <div class="audio-title">
                        <p>⏯</p>
                        <p>rock bottom - valenmix</p>
                    </div>
                    <div class="audio-description" id="rockBottomAudioDescription">
                        <p>bonjour petite description</p>
                    </div>
                    <!-- <a href="https://youtu.be/TgXgllMhPto" target="_blank">
                        🔗
                    </a> -->
                </div>
                <div class="hits-right">
                    <img src="{% static 'img/rockBottom.png' %}">
                </div>
            </div>
            <div class="hits-row">
                <div class="hits-left">
                    <div class="audio-title">
                        <p>⏯</p>
                        <p>come and get it - valenmix</p>
                    </div>
                    <div class="audio-description" id="comeAndAudioDescription">
                        <p>bonjour petite description</p>
                    </div>
                    <!-- <a href="https://youtu.be/gHj3dwaVAhE" target="_blank">
                        🔗
                    </a> -->
                </div>
                <div class="hits-right">
                    <img src="{% static 'img/comeAnd.png' %}">
                </div>
            </div>
            <div class="hits-row">
                <div class="hits-left">
                    <div class="audio-title">
                        <p>⏯</p>
                        <p>caroline - valenmix</p>
                    </div>
                    <div class="audio-description" id="carolineAudioDescription">
                        <p>bonjour petite description</p>
                    </div>
                    <!-- <a href="https://youtu.be/78bEhoIfJC0" target="_blank">
                        🔗
                    </a> -->
                </div>
                <div class="hits-right">
                    <img src="{% static 'img/caroline.png' %}">
                </div>
            </div>
        </div>
    </div>

    <div id="books">
        <div id="booksContainer">
            <div id="booksImgContainer">
                <p id="booksTitle">000</p>
                <img id="booksImg" src="{% static 'img/books/000_0.jpg' %}" alt="">
                <img class="arrow-description" id="arrowChanger" src="{% static 'img/changer2.png' %}">
                <img class="arrow-description" id="arrowTourner" src="{% static 'img/tourner2.png' %}">
            </div>
            <div id="booksButtons">
                <div id="booksPrevBook" class="books-button">
                    <img class="arrow-button double-arrow" src="{% static 'img/double_arrow.png' %}">
                </div>
                <div id="booksPrevPage" class="books-button">
                    <img class="arrow-button single-arrow" src="{% static 'img/arrow.png' %}">
                </div>
                <div id="booksNextPage" class="books-button">
                    <img class="arrow-button single-arrow" src="{% static 'img/arrow_right.png' %}">
                </div>
                <div id="booksNextBook" class="books-button">
                    <img class="arrow-button double-arrow" src="{% static 'img/double_arrow_right.png' %}">
                </div>
            </div>

        </div>
    </div>

    <div id="calendar">
        <div id="calendarContainer">
            <div id="calendarImgContainer">
                <img id="calendarImg" src="{% static 'img/calendar/0.jpg' %}" alt="">
            </div>
            <div id="calendarButtons">
                <div id="calendarPrev" class="calendar-button">
                    <img class="arrow-button" src="{% static 'img/arrow.png' %}">
                </div>
                <div id="calendarNext" class="calendar-button">
                    <img class="arrow-button" src="{% static 'img/arrow_right.png' %}">
                </div>
            </div>
        </div>
    </div>


    <script type="importmap">
        {
            "imports": {
                "three": "/static/node_modules/three/build/three.module.js",
                "three/addons/": "/static/node_modules/three/examples/jsm/"
            }
        }
    </script>
    <script> let homeUrl = "{% url 'home' %}"; </script>
    <script type="module" src="{% static 'js/front/darkmode.js' %}"></script>
    <script type="module" src="{% static 'js/front/main.js' %}"></script>
    <script type="module" src="{% static 'js/front/projection.js' %}"></script>

</body>

</html>