{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Webcam</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/images.css' %}">
    <link rel="stylesheet" href="{% static 'css/webcam.css' %}">
</head>
<body>
    
    <div id="topRightButtons">
        <button id="switchMode" class="top-right-buttons">☾</button>
        <button id="home" class="top-right-buttons">
            <img id="homeImg" src="{% static 'img/home_black.png' %}">
        </button>
    </div>

    <div id="webcamContainer">
        <img src="{% static 'img/webcam/1.jpg' %}">
    </div>

    <script> let homeUrl = "{% url 'home' %}"; </script>
    <script type="module" src="{% static 'js/darkmode.js' %}"></script>
    <script type="module" src="{% static 'js/main.js' %}"></script>

</body>
</html>
